<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="miModalLabel">Hey I'm the Hulk</h4>
      </div>
      <div class="modal-body">
        <img id="hulk" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS76UYAqXS7LiOd9BUhMdBS16G9519xOcKagU4YI0C2PbiopQ4n_XNe1EF3">
      </div>
    </div>
  </div>
</div>