<h1>About This Project</h1>

<div id="about">
  <ul><h3>Over the next few weeks we will...</h3>
  <h4>
    <li>Build a rails application in phases</li>
    <li>Use git hub to push each part</li>
    <li>Have it reviewed and, the best code, selected for integration to the master</li>
    <li>learn to work as a team to develop a single project</li>
    <li>Under the guidance of Master Jason and Captain Paul, we will be victorious!!!!</li>
  </h4>
  </ul>
</div>
