<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DevPoint Labs Winter 2015</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The Team <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="https://devpointlabs.slack.com/team/parkjoonw">Joon</a></li>
            <li><a href="https://devpointlabs.slack.com/team/cwcarlson10">Chris</a></li>
            <li><a href="https://devpointlabs.slack.com/team/siskandarian">Seta</a></li>
            <li><a href="https://devpointlabs.slack.com/team/craig10n">Craig</a></li>
            <li><a href="https://devpointlabs.slack.com/team/n.vo">Nick V.</a></li>
            <li><a href="https://devpointlabs.slack.com/team/evjay">Evan</a></li>
            <li><a href="https://devpointlabs.slack.com/team/lindsayhammon">Lindsay</a></li>
            <li><a href="https://devpointlabs.slack.com/team/zcid">Nick H.</a></li>
            <li><a href="https://devpointlabs.slack.com/team/annenichols">Ann</a></li>
            <li><a href="https://devpointlabs.slack.com/team/amandawalter">Amanda</a></li>
            <li><a href="https://devpointlabs.slack.com/team/topher">Topher</a></li>
            <li><a href="https://devpointlabs.slack.com/team/markymarrk">Marcos</a></li>
            <li><a href="https://devpointlabs.slack.com/team/kmowie">Konrad</a></li>
            <li><a href="https://devpointlabs.slack.com/team/gollum">Kevin</a></li>
            <li><a href="https://devpointlabs.slack.com/team/kuddox">Khuong</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>