<h3 class="sidebar-header"><%= link_to 'Projects', projects_path %></h3>
<ul class="sidebar-list">
	<% @sidebar_projects.each do |project| %>
	<li><%= link_to project.title, project_path(project) %></li>
	<% end %>
</ul>
<h3 class="sidebar-header">Team</h3>
<ul class="sidebar-list">
	<li>Name #1</li>
	<li>Name #2</li>
	<li>Name #3</li>
	<li>Name #4</li>
	<li>Name #5</li>
	<li>Name #6</li>
	<li>Name #7</li>
	<li>Name #8</li>
	<li>Name #9</li>
</ul>