<h3 class="sidebar-header"><%= link_to 'Projects', projects_path %></h3>
<ul class="sidebar-list">
  <% @sidebar_projects.each do |project| %>
  <li><%= link_to project.title, project_path(project) %></li>

  <% end %>
  <li><%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-sm pull-left", remote: true %></li>
</ul>